<span class="sr-only">Navigation:</span>
<ul>
  {% assign pages = site.pages %}

  {% for document in site.documents %}
    {% assign pages = pages | push: document %}
  {% endfor %}
  {% assign subpages = pages | where: "menu", false | sort: "order" %}
  {% assign pages = pages | where: "menu", true | sort: "order" %}

  {% for node in pages %}
    <li>
      <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url | relative_url }}">{{ node.title }}</a>
      {% if node.tag %}
      <input type="checkbox" class="hidden" id="list-item-{{ forloop.index }}">
      <label class="folder-button" for="list-item-{{ forloop.index }}"><span class="open">▼</span><span class="close">▲</span></label>
      {% endif %}
      <ul class="list-body">
          {% for subnode in subpages %}
             {% if subnode.category == node.slug %}
               <li>
                 <a class="sidebar-nav-subitem{% if page.url == subnode.url %} active{% endif %}" href="{{ subnode.url | relative_url }}">{{ subnode.title }}</a>
               </li>
             {% endif %}
          {% endfor %}
      </ul>
    </li>
  {% endfor %}
</ul>
